:root {
  --header-fg: #ffffff;
  --header-bg: #4c70eb;
  --accent: #ec5657;
  --bg: #000000;
  --fg: #cccccc;
  --heading-fg: #ffffff;
}
html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  min-height: calc(100svh - 1rem);
}

h1, h2 {
  font-size: 1.62rem;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: underline;
}
em {
  color: var(--accent);
}

.container {
  max-width: 80ch;
  margin: auto;
  padding: 1rem;
}
.container h1, h2 {
  color: var(--heading-fg);
  text-decoration: underline;
  text-decoration-color: var(--accent);
}
.container a {
  text-decoration-color: var(--accent);
}
.container video, .container img {
  width: 100%;
  margin-top: 1rem;
  outline: none;
  border-radius: 1rem;
}

.header {
  display: flex;
  max-width: 80ch;
  margin: auto;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--header-bg);
  border-radius: 1rem;
  color: var(--header-fg);
}
.header a {
  color: inherit;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 3ch;
}
.header__icon,
.header__icon * {
  display: inline-flex;
  gap: 0.6ch;
  align-items: center;
  text-decoration: none;
  height: 1.6rem;
}
.header__icon {
  background: var(--bg);
  padding: 0.6rem;
  border-radius: 0.6rem;
}
.header__icon:hover {
  outline: 0.1rem solid var(--fg);
}

@media (width < 90ch) {
  .header {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }
}
